* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

nav a image {
  margin-left: 0;
}

nav {
  width: 1024px;
  margin: 0 auto;
  display: flex;
}

.nav-list {
  margin-left: auto;
}

.nav-list-item {
  display: inline;
  list-style: none;
  line-height: 70px;
  font-size: 16px;
  color: #fafafa;
  padding: 0 30px;
}

main {
  width: 100%;
  height: 650px;
  background-image: url("img2/mv.png");
  background-size: cover;
  background-position: center;
}

.main-visual h1 {
  font-size: 64px;
  color: #fafafa;
  text-align: center;
  padding: 200px 0 10px;
}

.main-visual p {
  font-size: 20px;
  color: #fafafa;
  text-align: center;
}
